VITE_SUPABASE_URL=https://aqvyvssqkpfmgmhzzqtv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFxdnl2c3Nxa3BmbWdtaHp6cXR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3Nzg2NDEsImV4cCI6MjA5NjM1NDY0MX0.1IBYK6wSBCHo7QwTJxKhvNSq9PzTUo6_M1zIb4rPpGo
